- if (person.name)
  - if (person.name[person.name.length - 1] !== 's')
    h1 #{ person.name }'s Stuff
  - else 
    h1 #{ person.name }' Stuff
- else 
  h1 New Person

h2 Contact Information
p
  label(for='person[name]') name
  br
  input(type='text', name='person[name]', value= person.name || '')
p
  label(for='person[email]') email
  br
  input(type='email', name='person[email]', value= person.email || '')
p
  label(for='person[irc]') irc
  br
  input(type='text', name='person[irc]', value= person.irc || '')
p
  label(for='person[twitter_nick]') twitter
  br
  input(type='text', name='person[twitter_nick]', value= person.twitter_nick || '')
p
  label(for='person[github_nick]') github
  br
  input(type='text', name='person[github_nick]', value= person.github_nick || '')

h2 Bio

textarea(name='person[bio]', placeholder='Tell us about yourself. Use markdown. Be brief')
  !{ person.bio }

// The following sections are not available to edit
// until the account is created
- if (person.name) 
  h2 Languages

  input(type='text', name='person[language_string]', value= person.language_string || '', placeholder='Languages separated by commas')

  h2 Projects
  section.projects_list
    - if (person.projects.length > 0)
      - each project in person.projects.sort(function (a, b) { if (a.name <= b.name) { return -1; } else { return 1; } })
        article.project
          h3
            a(href=project.project_url)= project.name
          p= project.description
    - else
      p.project No projects added!
