- if (person.name)
  - if (person.name[person.name.length - 1] !== 's')
    h1 #{ person.name }'s Stuff
  - else 
    h1 #{ person.name }' Stuff
- else 
  h1 New Person

h2 Contact Information
p
  label(for='person[name]') name
  br
  input(type='text', name='person[name]', value= person.name || '')
p
  label(for='person[email]') email
  br
  input(type='email', name='person[email]', value= person.email || '')
p
  label(for='person[irc]') irc
  br
  input(type='text', name='person[irc]', value= person.irc || '')
p
  label(for='person[twitter]') twitter
  br
  input(type='text', name='person[twitter]', value= person.twitter || '')
p
  label(for='person[github]') github
  br
  input(type='text', name='person[github]', value= person.github || '')

h2 Bio

textarea(name='person[bio]', placeholder='Tell us about yourself. Use markdown. Be brief')
  !{ person.bio }

h2 Languages

input(type='text', name='person[language_string]', value= person.language_string || '', placeholder='Languages separated by commas')

h2 Projects
section.projects_list
  - if (person.projects.length > 0)
    - each project in person.projects
      article.project
        h3
          a(href=project.url)= project.name
        p= project.description
  - else
    p.project No projects added!

// jQuery Template Text for project forms
script(type='text/html')#new_project_template
  form(class='new_project', post='#', action='post')
    p
      label(for='project_name') Name
      br
      input(name='project_name', type='text')
    p
      label(for='project_url') URL
      br
      input(name='project_url', type='text')
    p
      label(for='project_description') Description
      br    
      input(name='project_description', type='text')